.pb-jar-smooth {
	width: 100%;
	overflow: hidden;
}
.pb-jar-chunky {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
	@media (min-width:$screen-sm-min) {
		width: $jar-width-sm;
	}
	@media (min-width:$screen-md-min) {
		width: $jar-width-md;
	}
	@media (min-width:$screen-lg-min) {
		width: $jar-width-lg;
	}
	@media (min-width:$screen-xl-min) {
		width: $jar-width-xl;
	}
	@media (max-width:$screen-tb-max) {
		overflow: hidden;
	}
}

.pb-row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1 * $gutter-width;
	margin-right: -1 * $gutter-width;
	&:before, &:after {
		display: table;
		content: " ";
		clear: both;
	}
}

[class*=pb-col-] {
	float: left;
	display: inline-block;
	padding-left: $gutter-width;
	padding-right: $gutter-width;
}

.pb-col-mb-1,
.pb-col-tb-1,
.pb-col-sm-1,
.pb-col-md-1,
.pb-col-lg-1,
.pb-col-xl-1  { width:  1 * 100% / 12; }

.pb-col-mb-2,
.pb-col-tb-2,
.pb-col-sm-2,
.pb-col-md-2,
.pb-col-lg-2,
.pb-col-xl-2  { width:  2 * 100% / 12; }

.pb-col-mb-3,
.pb-col-tb-3,
.pb-col-sm-3,
.pb-col-md-3,
.pb-col-lg-3,
.pb-col-xl-3  { width:  3 * 100% / 12; }

.pb-col-mb-4,
.pb-col-tb-4,
.pb-col-sm-4,
.pb-col-md-4,
.pb-col-lg-4,
.pb-col-xl-4  { width:  4 * 100% / 12; }

.pb-col-mb-5,
.pb-col-tb-5,
.pb-col-sm-5,
.pb-col-md-5,
.pb-col-lg-5,
.pb-col-xl-5  { width:  5 * 100% / 12; }

.pb-col-mb-6,
.pb-col-tb-6,
.pb-col-sm-6,
.pb-col-md-6,
.pb-col-lg-6,
.pb-col-xl-6  { width:  6 * 100% / 12; }

.pb-col-mb-7,
.pb-col-tb-7,
.pb-col-sm-7,
.pb-col-md-7,
.pb-col-lg-7,
.pb-col-xl-7  { width:  7 * 100% / 12; }

.pb-col-mb-8,
.pb-col-tb-8,
.pb-col-sm-8,
.pb-col-md-8,
.pb-col-lg-8,
.pb-col-xl-8  { width:  8 * 100% / 12; }

.pb-col-mb-9,
.pb-col-tb-9,
.pb-col-sm-9,
.pb-col-md-9,
.pb-col-lg-9,
.pb-col-xl-9  { width:  9 * 100% / 12; }

.pb-col-mb-10,
.pb-col-tb-10,
.pb-col-sm-10,
.pb-col-md-10,
.pb-col-lg-10,
.pb-col-xl-10 { width: 10 * 100% / 12; }

.pb-col-mb-11,
.pb-col-tb-11,
.pb-col-sm-11,
.pb-col-md-11,
.pb-col-lg-11,
.pb-col-xl-11 { width: 11 * 100% / 12; }

.pb-col-mb-12,
.pb-col-tb-12,
.pb-col-sm-12,
.pb-col-md-12,
.pb-col-lg-12,
.pb-col-xl-12 { width: 12 * 100% / 12; }

@media (max-width:$screen-lg-max) {
	[class*=pb-col-xl-] {
		width: 100%;
		float: none;
		display: block;
	}
}
@media (max-width:$screen-md-max) {
	[class*=pb-col-lg-] {
		width: 100%;
		float: none;
		display: block;
	}
}
@media (max-width:$screen-sm-max) {
	[class*=pb-col-md-] {
		width: 100%;
		float: none;
		display: block;
	}
}
@media (max-width:$screen-tb-max) {
	[class*=pb-col-sm-] {
		width: 100%;
		float: none;
		display: block;
	}
}
@media (max-width:$screen-mb-max) {
	[class*=pb-col-tb-] {
		width: 100%;
		float: none;
		display: block;
	}
}

.pb-offset-mb-1,
.pb-offset-tb-1,
.pb-offset-sm-1,
.pb-offset-md-1,
.pb-offset-lg-1,
.pb-offset-xl-1  { margin-left:  1 * 100% / 12; }

.pb-offset-mb-2,
.pb-offset-tb-2,
.pb-offset-sm-2,
.pb-offset-md-2,
.pb-offset-lg-2,
.pb-offset-xl-2  { margin-left:  2 * 100% / 12; }

.pb-offset-mb-3,
.pb-offset-tb-3,
.pb-offset-sm-3,
.pb-offset-md-3,
.pb-offset-lg-3,
.pb-offset-xl-3  { margin-left:  3 * 100% / 12; }

.pb-offset-mb-4,
.pb-offset-tb-4,
.pb-offset-sm-4,
.pb-offset-md-4,
.pb-offset-lg-4,
.pb-offset-xl-4  { margin-left:  4 * 100% / 12; }

.pb-offset-mb-5,
.pb-offset-tb-5,
.pb-offset-sm-5,
.pb-offset-md-5,
.pb-offset-lg-5,
.pb-offset-xl-5  { margin-left:  5 * 100% / 12; }

.pb-offset-mb-6,
.pb-offset-tb-6,
.pb-offset-sm-6,
.pb-offset-md-6,
.pb-offset-lg-6,
.pb-offset-xl-6  { margin-left:  6 * 100% / 12; }

.pb-offset-mb-7,
.pb-offset-tb-7,
.pb-offset-sm-7,
.pb-offset-md-7,
.pb-offset-lg-7,
.pb-offset-xl-7  { margin-left:  7 * 100% / 12; }

.pb-offset-mb-8,
.pb-offset-tb-8,
.pb-offset-sm-8,
.pb-offset-md-8,
.pb-offset-lg-8,
.pb-offset-xl-8  { margin-left:  8 * 100% / 12; }

.pb-offset-mb-9,
.pb-offset-tb-9,
.pb-offset-sm-9,
.pb-offset-md-9,
.pb-offset-lg-9,
.pb-offset-xl-9  { margin-left:  9 * 100% / 12; }

.pb-offset-mb-10,
.pb-offset-tb-10,
.pb-offset-sm-10,
.pb-offset-md-10,
.pb-offset-lg-10,
.pb-offset-xl-10 { margin-left: 10 * 100% / 12; }

.pb-offset-mb-11,
.pb-offset-tb-11,
.pb-offset-sm-11,
.pb-offset-md-11,
.pb-offset-lg-11,
.pb-offset-xl-11 { margin-left: 11 * 100% / 12; }

.pb-offset-mb-12,
.pb-offset-tb-12,
.pb-offset-sm-12,
.pb-offset-md-12,
.pb-offset-lg-12,
.pb-offset-xl-12 { margin-left: 12 * 100% / 12; }

@media (max-width:$screen-lg-max) {
	[class*=pb-offset-xl-] {
		margin-left: 0;
	}
}
@media (max-width:$screen-md-max) {
	[class*=pb-offset-lg-] {
		margin-left: 0;
	}
}
@media (max-width:$screen-sm-max) {
	[class*=pb-offset-md-] {
		margin-left: 0;
	}
}
@media (max-width:$screen-tb-max) {
	[class*=pb-offset-sm-] {
		margin-left: 0;
	}
}
@media (max-width:$screen-mb-max) {
	[class*=pb-offset-tb-] {
		margin-left: 0;
	}
}