.pb-jar-smooth {
	width: 100%;
	overflow: hidden;
	padding: 0 $jar-padding;
}
.pb-jar-chunky {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 $jar-padding;
	
	@media (min-width:$screen-sm-min) {
		width: $jar-width-sm;
	}
	@media (min-width:$screen-md-min) {
		width: $jar-width-md;
	}
	@media (min-width:$screen-lg-min) {
		width: $jar-width-lg;
	}
	@media (min-width:$screen-xl-min) {
		width: $jar-width-xl;
	}
	@media (max-width:$screen-tb-max) {
		overflow: hidden;
	}
}

.pb-row {
	margin-left: -1 * $gutter-width;
	margin-right: -1 * $gutter-width;
	&:before, &:after {
		display: table;
		content: " ";
		clear: both;
	}
}

%pb-col {
	float: left;
	display: inline-block;
	padding-left: $gutter-width;
	padding-right: $gutter-width;
	&.col-right {
		float: right;
	}
}
[class*=pb-col-] {
	@extend %pb-col;
}

@for $i from 1 through 12 {
	.pb-col-mb-#{$i},
	.pb-col-tb-#{$i},
	.pb-col-sm-#{$i},
	.pb-col-md-#{$i},
	.pb-col-lg-#{$i},
	.pb-col-xl-#{$i} {
		width: $i * 100% / 12;
	}
}

@mixin pb-col-remove {
	width: 100%;
	float: none;
	display: block;
}
@media (max-width:$screen-lg-max) {
	[class*=pb-col-xl-] {
		@include pb-col-remove;
	}
}
@media (max-width:$screen-md-max) {
	[class*=pb-col-lg-] {
		@include pb-col-remove;
	}
}
@media (max-width:$screen-sm-max) {
	[class*=pb-col-md-] {
		@include pb-col-remove;
	}
}
@media (max-width:$screen-tb-max) {
	[class*=pb-col-sm-] {
		@include pb-col-remove;
	}
}
@media (max-width:$screen-mb-max) {
	[class*=pb-col-tb-] {
		@include pb-col-remove;
	}
}

@for $i from 1 through 12 {
	.pb-offset-mb-#{$i},
	.pb-offset-tb-#{$i},
	.pb-offset-sm-#{$i},
	.pb-offset-md-#{$i},
	.pb-offset-lg-#{$i},
	.pb-offset-xl-#{$i} {
		margin-left:  $i * 100% / 12;
	}
}

@media (max-width:$screen-lg-max) {
	[class*=pb-offset-xl-] {
		margin-left: 0;
	}
}
@media (max-width:$screen-md-max) {
	[class*=pb-offset-lg-] {
		margin-left: 0;
	}
}
@media (max-width:$screen-sm-max) {
	[class*=pb-offset-md-] {
		margin-left: 0;
	}
}
@media (max-width:$screen-tb-max) {
	[class*=pb-offset-sm-] {
		margin-left: 0;
	}
}
@media (max-width:$screen-mb-max) {
	[class*=pb-offset-tb-] {
		margin-left: 0;
	}
}

@mixin pb-jar-smooth {
	@extend .pb-jar-smooth;
}
@mixin pb-jar-chunky {
	@extend .pb-jar-chunky;
}
@mixin pb-row {
	@extend .pb-row;
}

@mixin pb-col-xl-1 {
	@extend %pb-col;
	width: 1 * 100% / 12;
	@media (max-width:$screen-lg-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-xl-2 {
	@extend %pb-col;
	width: 2 * 100% / 12;
	@media (max-width:$screen-lg-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-xl-3 {
	@extend %pb-col;
	width: 3 * 100% / 12;
	@media (max-width:$screen-lg-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-xl-4 {
	@extend %pb-col;
	width: 4 * 100% / 12;
	@media (max-width:$screen-lg-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-xl-5 {
	@extend %pb-col;
	width: 5 * 100% / 12;
	@media (max-width:$screen-lg-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-xl-6 {
	@extend %pb-col;
	width: 6 * 100% / 12;
	@media (max-width:$screen-lg-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-xl-7 {
	@extend %pb-col;
	width: 7 * 100% / 12;
	@media (max-width:$screen-lg-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-xl-8 {
	@extend %pb-col;
	width: 8 * 100% / 12;
	@media (max-width:$screen-lg-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-xl-9 {
	@extend %pb-col;
	width: 9 * 100% / 12;
	@media (max-width:$screen-lg-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-xl-10 {
	@extend %pb-col;
	width: 10 * 100% / 12;
	@media (max-width:$screen-lg-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-xl-11 {
	@extend %pb-col;
	width: 11 * 100% / 12;
	@media (max-width:$screen-lg-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-xl-12 {
	@extend %pb-col;
	width: 12 * 100% / 12;
	@media (max-width:$screen-lg-max) {
		@include pb-col-remove;
	}
}

@mixin pb-col-lg-1 {
	@extend %pb-col;
	width: 1 * 100% / 12;
	@media (max-width:$screen-md-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-lg-2 {
	@extend %pb-col;
	width: 2 * 100% / 12;
	@media (max-width:$screen-md-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-lg-3 {
	@extend %pb-col;
	width: 3 * 100% / 12;
	@media (max-width:$screen-md-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-lg-4 {
	@extend %pb-col;
	width: 4 * 100% / 12;
	@media (max-width:$screen-md-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-lg-5 {
	@extend %pb-col;
	width: 5 * 100% / 12;
	@media (max-width:$screen-md-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-lg-6 {
	@extend %pb-col;
	width: 6 * 100% / 12;
	@media (max-width:$screen-md-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-lg-7 {
	@extend %pb-col;
	width: 7 * 100% / 12;
	@media (max-width:$screen-md-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-lg-8 {
	@extend %pb-col;
	width: 8 * 100% / 12;
	@media (max-width:$screen-md-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-lg-9 {
	@extend %pb-col;
	width: 9 * 100% / 12;
	@media (max-width:$screen-md-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-lg-10 {
	@extend %pb-col;
	width: 10 * 100% / 12;
	@media (max-width:$screen-md-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-lg-11 {
	@extend %pb-col;
	width: 11 * 100% / 12;
	@media (max-width:$screen-md-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-lg-12 {
	@extend %pb-col;
	width: 12 * 100% / 12;
	@media (max-width:$screen-md-max) {
		@include pb-col-remove;
	}
}

@mixin pb-col-md-1 {
	@extend %pb-col;
	width: 1 * 100% / 12;
	@media (max-width:$screen-sm-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-md-2 {
	@extend %pb-col;
	width: 2 * 100% / 12;
	@media (max-width:$screen-sm-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-md-3 {
	@extend %pb-col;
	width: 3 * 100% / 12;
	@media (max-width:$screen-sm-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-md-4 {
	@extend %pb-col;
	width: 4 * 100% / 12;
	@media (max-width:$screen-sm-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-md-5 {
	@extend %pb-col;
	width: 5 * 100% / 12;
	@media (max-width:$screen-sm-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-md-6 {
	@extend %pb-col;
	width: 6 * 100% / 12;
	@media (max-width:$screen-sm-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-md-7 {
	@extend %pb-col;
	width: 7 * 100% / 12;
	@media (max-width:$screen-sm-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-md-8 {
	@extend %pb-col;
	width: 8 * 100% / 12;
	@media (max-width:$screen-sm-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-md-9 {
	@extend %pb-col;
	width: 9 * 100% / 12;
	@media (max-width:$screen-sm-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-md-10 {
	@extend %pb-col;
	width: 10 * 100% / 12;
	@media (max-width:$screen-sm-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-md-11 {
	@extend %pb-col;
	width: 11 * 100% / 12;
	@media (max-width:$screen-sm-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-md-12 {
	@extend %pb-col;
	width: 12 * 100% / 12;
	@media (max-width:$screen-sm-max) {
		@include pb-col-remove;
	}
}

@mixin pb-col-sm-1 {
	@extend %pb-col;
	width: 1 * 100% / 12;
	@media (max-width:$screen-tb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-sm-2 {
	@extend %pb-col;
	width: 2 * 100% / 12;
	@media (max-width:$screen-tb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-sm-3 {
	@extend %pb-col;
	width: 3 * 100% / 12;
	@media (max-width:$screen-tb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-sm-4 {
	@extend %pb-col;
	width: 4 * 100% / 12;
	@media (max-width:$screen-tb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-sm-5 {
	@extend %pb-col;
	width: 5 * 100% / 12;
	@media (max-width:$screen-tb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-sm-6 {
	@extend %pb-col;
	width: 6 * 100% / 12;
	@media (max-width:$screen-tb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-sm-7 {
	@extend %pb-col;
	width: 7 * 100% / 12;
	@media (max-width:$screen-tb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-sm-8 {
	@extend %pb-col;
	width: 8 * 100% / 12;
	@media (max-width:$screen-tb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-sm-9 {
	@extend %pb-col;
	width: 9 * 100% / 12;
	@media (max-width:$screen-tb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-sm-10 {
	@extend %pb-col;
	width: 10 * 100% / 12;
	@media (max-width:$screen-tb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-sm-11 {
	@extend %pb-col;
	width: 11 * 100% / 12;
	@media (max-width:$screen-tb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-sm-12 {
	@extend %pb-col;
	width: 12 * 100% / 12;
	@media (max-width:$screen-tb-max) {
		@include pb-col-remove;
	}
}

@mixin pb-col-tb-1 {
	@extend %pb-col;
	width: 1 * 100% / 12;
	@media (max-width:$screen-mb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-tb-2 {
	@extend %pb-col;
	width: 2 * 100% / 12;
	@media (max-width:$screen-mb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-tb-3 {
	@extend %pb-col;
	width: 3 * 100% / 12;
	@media (max-width:$screen-mb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-tb-4 {
	@extend %pb-col;
	width: 4 * 100% / 12;
	@media (max-width:$screen-mb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-tb-5 {
	@extend %pb-col;
	width: 5 * 100% / 12;
	@media (max-width:$screen-mb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-tb-6 {
	@extend %pb-col;
	width: 6 * 100% / 12;
	@media (max-width:$screen-mb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-tb-7 {
	@extend %pb-col;
	width: 7 * 100% / 12;
	@media (max-width:$screen-mb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-tb-8 {
	@extend %pb-col;
	width: 8 * 100% / 12;
	@media (max-width:$screen-mb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-tb-9 {
	@extend %pb-col;
	width: 9 * 100% / 12;
	@media (max-width:$screen-mb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-tb-10 {
	@extend %pb-col;
	width: 10 * 100% / 12;
	@media (max-width:$screen-mb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-tb-11 {
	@extend %pb-col;
	width: 11 * 100% / 12;
	@media (max-width:$screen-mb-max) {
		@include pb-col-remove;
	}
}
@mixin pb-col-tb-12 {
	@extend %pb-col;
	width: 12 * 100% / 12;
	@media (max-width:$screen-mb-max) {
		@include pb-col-remove;
	}
}