/* Jar Widths */
$jar-width-xl:		1200px;
$jar-width-lg:		1080px;
$jar-width-md:		970px;
$jar-width-sm:		750px;


/* Responsive Breakpoints */
$screen-xl-min:		1400px;

$screen-lg-max:		$screen-xl-min - 1px;
$screen-lg-min:		1200px;

$screen-md-max:		$screen-lg-min - 1px;
$screen-md-min:		992px;

$screen-sm-max:		$screen-md-min - 1px;
$screen-sm-min:		768px;

$screen-tb-max:		$screen-sm-min - 1px;
$screen-tb-min:		481px;

$screen-mb-max:		$screen-tb-min - 1px;


/* Grid */
$gutter-width:		20px;
$jar-padding:		15px;


/* Colors */
$black:				#000;
$white:				#fff;